<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluebirdday" translate="label" sortOrder="100">
            <label>Bluebirdday</label>
        </tab>
        <section id="bluebirdday_subcategories" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Subcategories</label>
            <tab>bluebirdday</tab>
            <resource>Bluebirdday_Subcategories::bluebirdday_subcategories</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
